*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: end;
}

li a{
    display: block;
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
    color: #fff;
}

li a:hover{
    background-color: #111;
}